.fonte{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}       


.tituloSobreNos{
    display: flex;
    justify-content: space-around;
}

.tituloSobreNos div{
    width: 380px;
    height: 70px;
    border-radius: 30px;
    background-color: #6d0212;
    margin-top: 50px;
    margin-bottom: 100px;
    place-items: center;
    display: flex;
    justify-content: space-around;
    

}
.tituloSobreNos h1{
    color: aliceblue;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quemEhAHorizonTitulo{
    font-size: 50px;
    color: #5e1b25;
    margin-left: 310px;
    margin-top: -60px;
}
.quemEhAHorizon{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.quemEhAHorizon p{
    width: 750px;
    text-align: center;
    font-size: 30px;
    margin-left: 50px;
}
.quemEhAHorizon img{
    margin-left: 120px;
    width: 700px;
    border: 5px solid;
    border-color: #5e1b25;
    
}



.cinza{
    width: auto;
    height: 650px;
    background-color: #e4e4e4;
    border-radius: 100px;
    margin-bottom: -100px;


}

.centroLogoCinza{
    display: flex;
    justify-content: space-around;
}
.logoCinza{
    width: 500px;
    height: 100px;
    border-radius: 50px;
    background-color: #5e1b25;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
  

}
.logoCinza img{
    width:300px;

}

.texto{
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-left: 300px;
}

.texto p{
    margin-top: -50px;
    padding-left: 20px;
}
.texto h3{
    margin-top: 20px;
    padding-left: 250px;
    font-size: 60px;
}
.monteSuaViagem button{
    width: 400px;
    height: 60px;
    border-radius: 50px;
    background-color: #5e1b25;
    margin-left: 1100px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: -30px;

}
.monteSuaViagem button:hover{
    font-size: 40px;
    color: #ebe7e7;
    text-decoration: none;
    background-color: #49131b;

}