.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}
.painel{
    justify-content: center;
    width: 1142px;
    height: 590.2px;
}
.painel img{
    width: 1142px;
    height: 590.2px;
}
.principais-viagens img{
    text-align: center;
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.viagens-medio{
    border: 5px solid #5e1b25 ;
    border-radius: 100px;
    width: 1350px;
    height: 420px;
    text-align: center;
    background-color: #5e1b25;
    margin-bottom: 100px;
}
.viagens-medio p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 24px;
}
.viagens-medio img{
    border-radius: 50px;
    margin-left: 10px;
    border: 5px solid #5e1b25;
    background-color: #a85558;
}
.viagens-fundamental{
    border: 5px solid #5e1b25 ;
    width: 1350px;
    border-radius: 100px;
    height: 420px;
    text-align: center;
    background-color: #5e1b25;
    margin-bottom: 100px;
}
.viagens-fundamental p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 24px;
}
.viagens-fundamental img{
    border-radius: 50px;
    margin-left: 10px;
    border: 5px solid #5e1b25;
    background-color: #a85558;
}